div p{
    font-size: 30px;
}

div h1{
    text-align: center;
}

.wo{
    float: left;
    width: 400px;
    height: 300px;
}

.tw{
    float: right;
    width: 400px;
    height: 300px;
}

.io{
    float: left;
    width: 400px;
    height: 300px;
}