div p{
    font-size: 30px;
}

div h1{
    text-align: center;
}

img{
    width:100px;
    height: 100px;
    
}

.wo{
    float: left;
    width: 200px;
    height: 100px;
}

.tw{
    float: right;
    width: 200px;
    height: 100px;
}

.io{
    float: left;
    width: 200px;
    height: 100px;
}