body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: lawngreen;
}

.one{
    text-align: center;
    background-color: lawngreen;
}

.head h2{
    font-size: 40px;
    color: black;
    margin-top: 10px;
    text-align: center;
}

.one p{
    font-size: 17px;
    margin-bottom: 20px;
}

.one h3{
    font-size: 20px;
    margin-bottom:30px;
}

.two{
    background-color: lawngreen;
    text-align: center;
    }

.two h3{
    font-size: 20px;
    margin-bottom:30px;
}

.two p{
    font-size: 17px;
    margin-bottom: 20px;
}

button{
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
}

.three{
    background-color: lawngreen;
    text-align: center;
}

.three p{
    font-size: 17px;
    margin-bottom: 10px;
}

.three h3{
    font-size: 20px;
    margin-bottom:25px;
}

.tt{
    font-size: 70px;
}

i{
    font-size: 70px;                        
}

.ll{
    display: flex;
    justify-content: space-around ;
    align-items: center;
}

.lh{
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100px;
}

a{
    color: white;
    text-decoration: none;
}

.ww{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
   
}

.ww li{
    list-style-type: none;
    margin: 0 20px;
    font-size: 25px;
    background-color: rgba(17, 0, 255, 0.486);
    padding: 10px 20px;
    border-radius: 10px; 
}

.oo{
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

/* .bb{
    padding-left: 30px;
} */

.bb button{
    background-color: rgb(118, 15, 235);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}


