body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: lawngreen;
}

.one{
    text-align: center;
    background-color: lawngreen;
}

.head h2{
    font-size: 40px;
    color: black;
    margin-top: 10px;
    text-align: center;
}

.one p{
    font-size: 17px;
    margin-bottom: 20px;
}

.one h3{
    font-size: 20px;
    margin-bottom:30px;
}

.two{
    background-color: lawngreen;
    text-align: center;
    }

.two h3{
    font-size: 20px;
    margin-bottom:30px;
}

.two p{
    font-size: 17px;
    margin-bottom: 20px;
}

button{
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
}

.three{
    background-color: lawngreen;
    text-align: center;
}

.three p{
    font-size: 17px;
    margin-bottom: 10px;
}

.three h3{
    font-size: 20px;
    margin-bottom:25px;
}

.tt{
    font-size: 70px;
}

i{
    font-size: 70px;                        
}

.ll{
    display: flex;
    justify-content: space-around ;
    align-items: center;
}

.lh{
    background-color: rgb(128, 0, 96);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-radius: 20px;
}

a{
    color: white;
    text-decoration: none;
}

.ww{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
   
}

.ww li{
    list-style-type: none;
    margin: 0 10px;
    font-size: 25px;
    background-color: rgb(0, 174, 255);
    padding: 10px 20px;
    border-radius: 30px; 
}

.oo{
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

/* .bb{
    padding-left: 30px;
} */

.bb button{
    background-color: rgb(255, 210, 192);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;

}

.bb:hover>ul.ss{
    display: block;
    border: dashed;
}

.lh .ss{
    display: none;
    background-color: blue;
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    list-style: none;
}





